build
status
data/transdata_0.5_1_mic
data/transdata_0.5_1_mic.gz
data/transdata_1_5_mic
data/transdata_1_5_mic.gz
/data/full_telluric_spectrum.txt
example_scene.fits
mkidpipe*.log
out
*.h5
data/goeslib
out2
grid_bad
.idea
data
scratch
grid
admin/report
admin
simdata.yaml
simout.yaml
